*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #4CA1A3;
    line-height: 1.6;
}


/* Header CSS */

#container__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 65px 20px 65px;
}

#container__icon{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 250px;
}

#container__menu{
    align-items: center;
    display: flex;
    justify-content: center;
}

#menu--list{
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
}

#menu--list li a{
    color: #000;
    margin-left: 25px;
    padding: 15px;
    text-decoration: none;
}

.container__banner{
    align-items: center;
    background-image: url(../assest/desktop3.jpeg);
    background-size: cover;
    background-position:bottom;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding:0 33px;
    position: sticky;
}

.container__banner .container__tittle__hardware h1{
    color: blanchedalmond;
    font-size: 50px;
}

.container__banner .container__tittle__hardware p{
    font-size: 21px;
}

.container__banner .container__tittle__hardware button{
    background-color: whitesmoke;
    border: none;
    border-radius: 10px;
    font-size: 21px;
    height: 58px;
    width: 178px;
}
